@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Code+Pro:wght@400;700;800&display=swap');

/* ESTILOS GLOBALES */
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background-color: #f3f5f8;
}
p {
  font-size: 1.8rem;
  color: #123354;
}
a {
  font-size: 1.8rem;
  text-decoration: none;
}
a:visited {
  color: #0066cc;
}
ul li {
  list-style: none;
}
ol {
  counter-reset: item;
}
ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}
ol > li:before {
  display: inline-block;
  width: 1.5em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) '.';
}
li {
  font-size: 1.8rem;
  color: #123354;
}

/* CONTENEDOR */
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin: 0 auto 60px;
  width: 80%;
}
.contenedor h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 3.6rem;
  font-weight: 800;
  margin-top: 40px;
}
.contenedor p {
  line-height: 150%;
}
.contenedor ol {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
/* CONTENEDOR GIFS */
.contenedorimg {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}
.contenedorimg img {
  border: 2px solid #123354;
  border-radius: 8px;
}
/* CONTENDOR BLANCO */
.contenedorblanco {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: white;
}
.contenedorblanco h2 {
  font-size: 2.8rem;
}
.contenedorblanco p {
  text-align: justify;
}
/* CONTENEDOR NAVEGACIÓN */
.contenedornavegacion {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contenedornavegacion a {
  color: #0066cc;
  margin-right: 12px;
}
.cambio-de-pagina {
  display: flex;
  align-items: center;
}
.cambio-de-pagina:hover {
  cursor: pointer;
}
.cambio-de-pagina svg {
  margin: 0 12px;
}
.flecha {
  width: 20px;
}

/* PÁGINA PRINCIPAL */
.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}
.contenedor-principal h1 {
  margin-top: 40px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 800;
  font-size: 5rem;
  color: #8092a4;
}
.contenedor-principal h1 span {
  color: #123354;
}
.contenedor-principal h1,
.contenedor-principal p {
  text-align: center;
}
.contenedor-principal h2,
.contenedor-principal ul {
  display: inline;
  width: 100%;
}

.info__principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
.info__principal h3 {
  font-size: 2rem;
}

/* ÍNDICE */
.indice {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 16px;
  background-color: white;
}
.indice h2 {
  font-size: 3.6rem;
}
.indice h3 {
  font-size: 2.2rem;
}
.indice ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
